@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
.login-form{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1); 
  border: 3px solid #376143; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-container {
  display: grid;
  grid-template-areas:
    "major message message"
    "major message message"
    "backgrounds file file"
    "submit submit submit";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
  width: 65%;
  margin:  auto;
  padding: 2%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1); /* רקע שקוף עם כהות מסוימת */
  border: 3px solid #376143; /* מסגרת ירוקה כהה ועבה יותר */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
}

/* form > * {
  border: 1px dashed red;
} */

form > div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: large;
  display: flex;
  justify-content: space-between;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.select-input-box{
  width: 80%;
}
select {
  width: 70%;
  margin-left: 0;
}

.selects{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  margin-top: 15%;
}

.date-input {
  width: 60%;
}
.major-year-input {
  grid-area: major;
}



.message-input {
  grid-area: message;
}

.background-selector {
  grid-area: backgrounds;
}

.file-input {
  grid-area: file;
}

.submit-button {
  grid-area: submit;
}
textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #a3b18a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #84916f;
}

.drag-and-drop {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
}

.drag-and-drop:hover {
  background-color: #f1f1f1;
}

.drag-and-drop img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.background-selector {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* width: 90%; */
}

.background-selector div {
  text-align: center;
}

.background-selector img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.background-selector input[type="radio"]:checked + label img {
  border-color: #a3b18a;
} /* עיצוב כפתור ייצוא האקסל */

/* עיצוב הכותרת */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* עיצוב כפתור ייצוא האקסל */
/* עיצוב כפתור ייצוא האקסל */
.export-excel-button {
  padding: 5px 15px; /* כפתור צר יותר */
  background-color: #376143;
  color: white;
  border: none;
  border-radius: 5px;
  right: 20px;
  bottom: 20px;
  font-size: 14px; /* גודל טקסט קטן יותר */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px; /* רוחב קבוע לכפתור */
  font-size: larger;
  position: fixed;
}

.export-excel-button:hover {
  background-color: #84916f;
}

.export-excel-button:active {
  background-color: #a3b18a;
}


/* עיצוב כללי */
body {
  background-image: url("/public/wooden-fence-with-pattern-tree-bark copy 2.jpg"); /* נתיב לתמונה */
  background-size: cover; /* התמונה תתפרס על כל המסך */
  background-repeat: no-repeat; /* ללא חזרה של התמונה */
  background-attachment: fixed; /* התמונה תישאר קבועה בעת גלילה */
  background-position: center; /* מיקום התמונה במרכז */
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  direction: rtl; /* מימין לשמאל */
  text-align: right;
}

/* עיצוב הניווט */
/* עיצוב הניווט */
nav {
  background-color: #376143;
  padding: 10px 20px;
  
  display: flex;
  justify-content: space-around; /* ריווח אחיד בין הקישורים */
  align-items: center; /* ממרכז את הפריטים מבחינת גובה */
  height: auto;
  margin-bottom: 2%;
}

nav a {
  
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px; /* ריווח פנימי גדול יותר */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  flex: 1; /* כל קישור יתפוס מקום שווה */
}

nav a:hover {
  background-color: #84916f;
}

nav a.active {
  background-color: #a3b18a;
}

/* עיצוב הטבלאות */
table {
  width: 98%; /* שומר על רווח משמאל */
  margin: 10px auto; /* מרכז את הטבלה ומוסיף רווחים */
  border-collapse: collapse;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #a3b18a;
  color: white;
}

thead th {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e9ecef;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  word-wrap: break-word;
}

td a {
  color: #376143;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

/* עיצוב כותרות */
h1,
h2,
h3 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

/* עיצוב הודעת 404 */
.not-found {
  text-align: center;
  margin-top: 50px;
}

.not-found h1 {
  font-size: 48px;
  color: #dc3545;
}

.not-found p {
  font-size: 18px;
  color: #666;
}

.screen {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow: hidden; /* Prevent scrolling */
  display: flex; /* Use flexbox to manage content layout */
  flex-direction: column; /* Stack items vertically */
}
.major-row {
  display: flex;
  align-items: center;
  height: 19%;
  border-bottom: 5px solid #376143; /* ✅ מוסיף קו מפריד בין המגמות */
  padding: 2px; /* ✅ יוצר מרווח לפני השורה הבאה */
}
.major-name {
  font-size: 180%;
  width: auto;
  aspect-ratio: 1 / 1;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%; /* ✅ מוסיף רווח בין שם המגמה להודעות */
}

/* @media (max-width: 768px) {
  .major-name {
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  .major-name {
    font-size: 12px; 
  }
} */

.major-messages {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* padding-left: 20px; */
}
.message-card {
  position: relative;
  height: 21vh; /* או כל גובה שאת רוצה */
  width: fit-content; /* רוחב יתאים לגודל התמונה */
  overflow: hidden;
}
.message-card-image {
  width: auto;
  aspect-ratio: 1 / 1; /* יחס גובה לרוחב של 1:1 */
  height: 16vh;
  margin-top: 3%;
  background-size: contain; /* התמונה תוצג בשלמותה */
  background-repeat: no-repeat; /* ללא חזרה של התמונה */
  background-position: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* ממרכז את התוכן אנכית */
  align-items: center; /* ממרכז את התוכן אופקית */
  text-align: center;
  position: relative; /* מאפשר מיקום יחסי של האלמנטים */
  overflow: hidden; /* מונע גלילה פנימית */
}

.message-card-clali {
}

.message-background {
  height: 100%;
  width: 16vh; /* כדי לשמור על פרופורציות התמונה */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.message-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.message-date {
  font-size: 10px;
  font-weight: bold;
  position: absolute; /* מיקום יחסי לכרטיס */
  margin-top: 26%;
  margin-right: 8%;
  /*background-color: rgba(255, 255, 255, 0.8);  רקע לבן שקוף */
  padding: 2px 5px;
  border-radius: 3px;
}

.message-year {
  font-size: 10px;
  font-weight: bold;
  position: absolute; /* מיקום יחסי לכרטיס */
  margin-top: 35%;
  margin-right: 8%;
  padding: 2px 5px;
  border-radius: 3px;
}

.message-text {
  font-size: 25px; 
  font-weight: bold;
  color: #333;
  text-align: center;
  word-wrap: break-word; /* שבירת מילים ארוכות */
  width: 14vh;
  margin-top: 46%;
  margin-bottom: 5%;
  margin-right: 8%;
  padding-left: 15px;
  white-space: pre-line;
  /* overflow: hidden;  */
  text-overflow: ellipsis; /* מוסיף "..." אם הטקסט חורג */
}

/* עיצוב כללי לדף הבית */
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  font-family: Arial, sans-serif;
  direction: rtl; /* מימין לשמאל */
  text-align: center;
}

/* עיצוב החלק של הכותרת והטקסט */
.home-header {
  flex: 1;
  max-width: 40%; /* מגביל את הרוחב של הטקסט */
}

.home-header h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

.home-header p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

/* עיצוב הקישור לכניסה למערכת */
.login-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #376143;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: #84916f;
}

/* עיצוב החלק של המסכים */
.home-screens {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; /* רווח בין המסכים */
}

.screen-link {
  display: block;
  width: 100%;
  text-decoration: none;
}
.screen-preview-wrapper {
  position: relative;
  width: 100%; /* או גודל קבוע */
  aspect-ratio: 16 / 9; /* שומר על יחס מסך */
  overflow: hidden;
  /* border: 2px solid #ccc; */
  /* border-radius: 10px; */
}

.screen-preview {
  width: 100%;
  height: 100%;
  transform: scale(0.9); /* לדוגמה - אם רוצים להקטין */
  transform-origin: top left;
  pointer-events: none;
  border: none;
  display: block;
}
.screen-overlay {
  position: absolute;
  font-family: 'rubik', sans-serif;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5); /* שכבה שחורה שקופה */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  opacity: 0; /* מוסתר כברירת מחדל */
  transition: opacity 0.3s ease; /* אנימציה חלקה */
  pointer-events: none; /* מונע אינטראקציה עם השכבה */
}

.screen-preview-wrapper:hover .screen-overlay {
  opacity: 1; /* מציג את השכבה כאשר עומדים עם העכבר */
}

.hebrewLabel {
  margin-top: 10px;
  margin-right: 1%;
  font-weight: bold;
  color: #376143;
}
.message-buttons {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.message-buttons:hover {
  background-color: transparent;
}
textarea {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.theTitle{
  margin-top: 20%;
  font-family: 'Amatic SC';
  color: #376143 !important;
  font-size: 100px !important;
}
.messages-list-container {
  display: flex;
  position: relative;
}

.toggle-filter-button {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 1000;
  padding: 10px;
  background-color: #376143;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-filter-button:hover {
  background-color: #84916f;
  transform: scale(1.1);
}

.filter-panel {
  position: fixed;
  top: 60px;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999;
  transition: transform 0.3s ease;
}
.filter-panel h3 {
  margin-top: 0;
}

.filter-panel label {
  display: block;
  margin-bottom: 10px;
}

.filter-panel input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.filter-panel button {
  width: 100%;
  padding: 10px;
  background-color: #376143;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.table-container {
  flex: 1;
  transition: margin-right 0.3s ease;
}

.table-container.shifted {
  margin-right: 300px; /* הזזת הטבלה כאשר החלונית פתוחה */
}